<header class="main-header" ng-controller="HeaderController" ng-include="'partials/header.html'">
</header>

<div class="content-wrapper">
    <div class="container">

<!-- Main content -->
<section class="content" ng-controller="BoardController">
  <div class="row">

    <div class="box-header with-border">
              <div class="user-block">
                <h1>컨텐츠 모아보기</h1>
                <br/>
                <br/>
                </div>
              <!-- /.box-tools -->
            </div>
            <div class="col-sm-12 border-center">
            <div class="col-sm-4 border-center">
                    <div class="col-sm-4 border-center">
            <a href="/#!/content_all" class="btn btn-block bg-aqua btn-sm">전체 선택</a>
            </div>
            <div class="col-sm-4 border-center">
            <a href="/#!/content_all" class="btn btn-block bg-danger btn-sm">삭제</a>
                </div>
             <div class="col-sm-4 border-center">
            <a href="/#!/content_all" class="btn btn-block bg-success btn-sm">편집</a>
            </div>
            </div>
            </div>
            <br/>
            <br/>



            <div class="card"> <!-- /.1번 -->
                <div class="col-md-4" >
                    <div class="box box-warning">
                    <div class="row">
                    <div class="col-sm-12 border-right">

                    <div class="col-sm-12 border-right">
                    
                    <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IHNzOHi8sJs" ></iframe>
                          </div>
                        </div>
                    </div>
                 </div>
                </div>
           </div>
          </div>

          <div class="card"><!-- /.2번 -->
                <div class="col-md-4" >
                    <div class="box box-warning">
                    <div class="row">
                    <div class="col-sm-12 border-right">

                        <div class="col-sm-12 border-right">
                    
                        <div class="embed-responsive embed-responsive-16by9">
                              <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aiHSVQy9xN8" ></iframe>
                            </div>
                    </div>
                 </div>
                </div>
           </div>
          </div>

          <div class="card"><!-- /.3번 -->
                <div class="col-md-4" >
                    <div class="box box-warning">
                    <div class="row">
                    <div class="col-sm-12 border-right">

                            <div class="col-sm-12 border-right">
                    
                                    <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IHNzOHi8sJs" ></iframe>
                                          </div>
                    </div>
                 </div>
                </div>
           </div>
          </div>

          <div class="card"><!-- /.4번 -->
                <div class="col-md-4" >
                    <div class="box box-warning">
                    <div class="row">
                    <div class="col-sm-12 border-right">

                            <div class="col-sm-12 border-right">
                    
                                    <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aiHSVQy9xN8" ></iframe>
                                          </div>
                    </div>
                 </div>
                </div>
           </div>
          </div>
          <div class="card"><!-- /.5번 -->
                <div class="col-md-4" >
                    <div class="box box-warning">
                    <div class="row">
                    <div class="col-sm-12 border-right">

                            <div class="col-sm-12 border-right">
                    
                                    <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/d9IxdwEFk1c" ></iframe>
                                          </div>
                    </div>
                 </div>
                </div>
           </div>
          </div>
          <div class="card"><!-- /.6번 -->
                <div class="col-md-4" >
                    <div class="box box-warning">
                    <div class="row">
                    <div class="col-sm-12 border-right">

                            <div class="col-sm-12 border-right">
                    
                                    <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aiHSVQy9xN8" ></iframe>
                                          </div>
                    </div>
                 </div>
                </div>
           </div>
          </div>
          <div class="card"> <!-- /.7번 -->
                <div class="col-md-4" >
                    <div class="box box-warning">
                    <div class="row">
                    <div class="col-sm-12 border-right">

                            <div class="col-sm-12 border-right">
                    
                                    <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IHNzOHi8sJs" ></iframe>
                                          </div>
                    </div>
                 </div>
                </div>
           </div>
          </div>
          <div class="card"> <!-- /.8번 -->
                <div class="col-md-4" >
                    <div class="box box-warning">
                    <div class="row">
                    <div class="col-sm-12 border-right">

                            <div class="col-sm-12 border-right">
                    
                                    <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/d9IxdwEFk1c" ></iframe>
                                          </div>
                    </div>
                 </div>
                </div>
           </div>
          </div>

          <div class="card"> <!-- /.9번 -->
                <div class="col-md-4" >
                    <div class="box box-warning">
                    <div class="row">
                    <div class="col-sm-12 border-right">

                            <div class="col-sm-12 border-right">
                    
                                    <div class="embed-responsive embed-responsive-16by9">
                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/IHNzOHi8sJs" ></iframe>
                                          </div>
                    </div>
                 </div>
                </div>
           </div>
          </div>

        </div>
    </section>
</div>
</div>

