<header class="main-header" ng-controller="HeaderController" ng-include="'partials/header.html'">
</header>

<div class="content-wrapper">
    <div class="container">

<!-- Main content -->
<section class="content" ng-controller="BoardController">
  <div class="row">

    <div class="box-header with-border">
              <div class="user-block">
                <h1>컨텐츠 모아보기</h1>
                <br/>
                <br/>
                </div>
              <!-- /.box-tools -->
            </div>
            <div class="col-sm-12 border-center">
            <div class="col-sm-4 border-center">
                    <div class="col-sm-4 border-center">
            <a href="/#!/content_all" class="btn btn-block bg-aqua btn-sm">전체 선택</a>
            </div>
            <div class="col-sm-4 border-center">
            <a href="/#!/content_all" class="btn btn-block bg-danger btn-sm">삭제</a>
                </div>
             <div class="col-sm-4 border-center">
            <a href="/#!/content_all" class="btn btn-block bg-success btn-sm">편집</a>
            </div>
            </div>
            </div>
            <br/>
            <br/>

            <div class="container">
            <div class="row">
            <div class="card"> <!-- /.1번 -->
                <div class="col-md-4" >
                    <div class="box box-warning">
                    <div class="row">
                    <div class="col-sm-12 border-right">

                    <div class="col-sm-4 border-right">
                    <h1 align='center'></h1>
                <img class="card-img-top" src="http://www.lgchem.com/upload/file/advertising-media/energy_1.jpg" width="300" height="300" alt="Card image"></h1>
                        </div>
                    </div>
                 </div>
                </div>
           </div>
          </div>
          <div class="card-group">
          <div class="card"><!-- /.2번 -->
                <div class="col-md-4" >
                    <div class="box box-warning">
                    <div class="row">
                    <div class="col-sm-12 border-right">

                    <div class="col-sm-4 border-right">
                    <h1 align='center'></h1>
                <img class="card-img-top" src="https://c1.staticflickr.com/3/2836/33389626682_c08e84e59b_o.jpg" width="300" height="300" alt="Card image"></h1>
                        </div>
                    </div>
                 </div>
                </div>
           </div>
          </div>

          <div class="card"><!-- /.3번 -->
                <div class="col-md-4" >
                    <div class="box box-warning">
                    <div class="row">
                    <div class="col-sm-12 border-right">

                    <div class="col-sm-12 border-right">
                            <p class="card-text" >Some example text.
                                    This is a longer card with supporting text below as a natural lead-in to additional content. 
                                    This content is a little bit longer.</p>
                        </div>
                    </div>
                 </div>
                </div>
           </div>
          </div>

          <div class="card"><!-- /.4번 -->
                <div class="col-md-4" >
                    <div class="box box-warning">
                    <div class="row">
                    <div class="col-sm-12 border-right">

                    <div class="col-sm-4 border-right">
                    <h1 align='center'></h1>
                <img class="card-img-top" src="http://www.lgchem.com/upload/file/advertising-media/energy_1.jpg" width="300" height="300" alt="Card image"></h1>
                        </div>
                    </div>
                 </div>
                </div>
           </div>
          </div>
          <div class="card"><!-- /.5번 -->
                <div class="col-md-4" >
                    <div class="box box-warning">
                    <div class="row">
                    <div class="col-sm-12 border-right">

                    <div class="col-sm-4 border-right">
                    <h1 align='center'></h1>
                <img class="card-img-top" src="https://www.hyundai-steel.com/upload/CB05/200603_141229143219_1.jpg" width="300" height="300" alt="Card image"></h1>
                        </div>
                    </div>
                 </div>
                </div>
           </div>
          </div>
          <div class="card"><!-- /.6번 -->
                <div class="col-md-4" >
                    <div class="box box-warning">
                    <div class="row">
                    <div class="col-sm-12 border-right">

                    <div class="col-sm-4 border-right">
                    <h1 align='center'></h1>
                <img class="card-img-top" src="https://c1.staticflickr.com/3/2836/33389626682_c08e84e59b_o.jpg" width="300" height="300" alt="Card image"></h1>
                        </div>
                    </div>
                 </div>
                </div>
           </div>
          </div>
          <div class="card"> <!-- /.7번 -->
                <div class="col-md-4" >
                    <div class="box box-warning">
                    <div class="row">
                    <div class="col-sm-12 border-right">

                    <div class="col-sm-4 border-right">
                    <h1 align='center'></h1>
                <img class="card-img-top" src="https://www.hyundai-steel.com/upload/CB05/200603_141229143219_1.jpg" width="300" height="300" alt="Card image"></h1>
                        </div>
                    </div>
                 </div>
                </div>
           </div>
          </div>
          <div class="card"> <!-- /.8번 -->
                <div class="col-md-4" >
                    <div class="box box-warning">
                    <div class="row">
                    <div class="col-sm-12 border-right">

                    <div class="col-sm-4 border-right">
                    <h1 align='center'></h1>
                <img class="card-img-top" src="http://www.lgchem.com/upload/file/advertising-media/energy_1.jpg" width="300" height="300" alt="Card image"></h1>
                        </div>
                    </div>
                 </div>
                </div>
           </div>
          </div>

          <div class="card"> <!-- /.9번 -->
                <div class="col-md-4" >
                    <div class="box box-warning">
                    <div class="row">
                    <div class="col-sm-12 border-right">

                    <div class="col-sm-4 border-right">
                    <h1 align='center'></h1>
                <img class="card-img-top" src="https://www.hyundai-steel.com/upload/CB05/200603_141229143219_1.jpg" width="300" height="300" alt="Card image"></h1>
                        </div>
                    </div>
                 </div>
                </div>
           </div>
        </div>
        </div>
    </div>
        </div>
    </section>
</div>
</div>