<header class="main-header" ng-controller="HeaderController" ng-include="'partials/header.html'">
</header>

<div class="content-wrapper">
    <div class="container">

<!-- Main content 
  controller 실행시 가장 먼저 호출되는 init()함수 like 생성자 함수
  init함수는 서버로 가서 data를 가져온다.
  -->
<section class="content" ng-controller="BoardController" ng-init="init()"> 
  <div class="row">


      <div class="box box-widget">
            <div class="box-header with-border">
              <div class="user-block">
                <h1>Board List</h1>
                <br/>
                <br/>
                <button type="button" ng-click="actionAllApprove(); init()" class="btn btn-primary">전체 승인</button>
              </div>
              <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->


            <div class="box-body">

                <div class="col-md-4" ng-repeat="item in items"> 
                  <!--n개의 미정의 게시판 post
                  items를 item으로 하나씩 할당분배-->

                    <div class="box box-widget widget-user">
                      <!-- Add the bg color to the header using any of the bg-* classes -->
                      <div class="widget-user-header bg-black" style="background: url('/lib/admin-lte/dist/img/photo1.png') center center;">
                      </div>
                      <div class="box-footer">
                        <div class="row">
                          <div class="col-sm-12 border-right">


                            <div class="description-block">
                              <h3 class="text-left" ng-bind="item.Name"></h3> 
                                        <!-- ng-bind 출력만, ng-model 상호 data 변경. -->
                              <span class="description-text pull-left">위치 : </span>
                              <span class="description-text pull-left" ng-bind="item.Location"></span>
                              <span class="description-text pull-right" ng-if="item.IsApproval==1">(승인됨)</span>
                              <span class="description-text pull-right" ng-if="item.IsApproval==0">(승인안됨)</span>
                            </div>
                            <!-- /.description-block -->
                          </div>
                          <!-- /.col -->

                          <div class="col-sm-12 border-right">
                            <div class="description-block">
                                <div class="col-sm-4 border-right">
                                <button class="btn btn-danger btn-block btn-flat"
                                        ng-click="deleteBoard(item.Name)" 
                                        data-toggle="modal" data-target="#modal-delete">삭제</button>
                                </div>  <!-- 삭제할때 db에 pk= name으로 넘겨주기 -->

                                <div class="col-sm-4 border-right">
                                <button class="btn btn-block btn-info btn-flat"
                                        ng-click="updateBoard(item, item.IsApproval)"
                                        data-toggle="modal" data-target="#modal-update">수정</button>
                                </div>
                                <div class="col-sm-4 border-right">
                                    <button class="btn btn-block btn-success btn-flat"
                                            ng-if="item.IsApproval == 0"
                                            ng-click="updateBoard(item, 1); actionUpdateBoard()">승인</button>
                                    <button class="btn btn-block btn-warning btn-flat"
                                            ng-if="item.IsApproval == 1"
                                            ng-click="updateBoard(item, 0); actionUpdateBoard()">거부</button>
                                    </div>
                            </div>
                            <!-- /.description-block -->
                          </div>
                          <!-- /.col -->
                        </div>
                        <!-- /.row -->
                      </div>
                    </div>
                    <!-- /.widget-user -->
                </div>
                <!-- /.col-md-4 -->

            </div>
            <!-- /.box-body -->

          </div>

        <div class="modal fade" id="modal-delete">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete Board</h4>
              </div>
              <div class="modal-body">
                <p>삭제하시겠습니까?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No</button>
                <button type="button" ng-click="actionDeleteBoard()" data-dismiss="modal" class="btn btn-primary">Yes</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->


        <div class="modal modal-primary fade" id="modal-update">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update Board</h4>
              </div>
              <div class="modal-body">
                
                <label>위치</label>
                <div class="input-group date">
                  <div class="input-group-addon">
                    <i class="fa fa-edit"></i>
                  </div>
                  <input type="text" 
                        class="form-control pull-right" 
                        placeholder="Enter ..."
                        ng-model="location">
                  <!-- /.input group -->
              </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">No</button>
                <button type="button" ng-click="actionUpdateBoard()" data-dismiss="modal" class="btn btn-primary">Yes</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

  </div>
  <!-- /.col -->
</section>


    </div>
</div>